.course_topics{
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px 20px;
}
.course_topics .card{
    box-shadow:  rgba(0,0,0,0.16) 0px 0px 10px;
}
.course_topics .card .card-body{
    padding: 0;
}
.course_topics .card .card-body label{
    transition: ease 0.3s;
    cursor: pointer;
    padding: 15px;
    display: block;
}
.course_topics .card .card-body label:hover,
.course_topics .card .card-body label input:checked + span{
    color: #000;
    font-weight: 500;
}