:root {
  --primary: #182434;
  --secondary: #00D4CE;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
}

html {
  -ms-touch-action: none;
}
div#root {
  width: 100%;
}

body {
  background: #fff;
  color: var(--primary);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  align-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 15px;
  padding: 0;
  font-weight: 700;
}

p {
  font-weight: 400;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

ol {
  padding-left: 15px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  z-index: -1;
}

table {
  width: 100%;
}

a, button, textarea {
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  text-decoration: none !important;
  outline: none !important;
  color: inherit;
}

a:hover, button:hover {
  color: inherit;
}

button {
  background: none;
  border: 0;
  padding: 0;
}

/* ::selection {
  color: #fff;
  background: var(--secondary);
} */

::-webkit-scrollbar-track {
  background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 40px;
}

::-webkit-scrollbar {
  width: 3px;
  outline: none;
}

.secondary-text{
  color: var(--secondary);
}
.secondary-bg{
  background-color: var(--secondary);
}
.primary-text{
  color: var(--primary);
}
.primary-bg{
  background-color: var(--primary);
  color: #fff;
}
.custom_btn{
  background-color: var(--secondary);
  border: var(--primary) 1px solid;
  display: inline-block;
  border-radius: 10px;
  padding: 10px 25px;
  box-shadow: var(--primary) 0 5px 0px;
  color: var(--primary);
  position: relative;
  top: 0;
  transition: ease 0.1s;
}
.custom_btn.outlined{
  background-color: transparent;
}
.custom_btn:hover{
  top: 2px;
  box-shadow: var(--primary) 0 2px 0px;
}
.common_sec{
  padding: 80px 0;
}